.o_measurement {
    border-bottom :1px solid $o-main-text-color !important;
}

.o_measurement_code {
    border : 1px solid $o-main-text-color !important;
    padding-right : 5px !important;
}

.o_measurement_code_last {
    border : 1px solid $o-main-text-color !important;
}
