.account-tabs .nav-link.active {
    border-bottom: 2px solid #d9981c !important;
}

.account-tabs .nav-link {
    color: #495057;
}

.account-tabs .nav-tabs {
    overflow-y: hidden;
    overflow-x: auto;
}

@media (max-width: 767px) {
    .account-tabs .nav-tabs h2 {
        font-size: 14px;
    }

    .account-tabs .nav-tabs {
        justify-content: flex-start !important;
    }

    .account-tabs .card-body {
        padding: 1rem;
    }

    .account-tabs .nav-item {
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.account-tabs-content .btn-w {
    min-width: 130px;
}

.orders-tab-content .cart-img {
    max-width: 70px;
}

.orders-tab-content .order-btn {
    width: 60px;
}

@media (min-width: 768px) {
    .orders-tab-content {
        min-height: calc(100vh - 466px);
    }
}

.orders-table thead th,
td {
    font-size: 1.5rem;
    line-height: 1;
}

/* {
    width: 60px;
} */

.orders-tab-content .order-number {
    flex-grow: 2;
}

@media (max-width: 767px) {
    .orders-tab-content .order-number {
        flex: 1 0 51%;
    }
}

body {
    background-color: #d9981c !important;
}