:lang(ar) {
    p{
        font-family: "Cairo", sans-serif !important;
    }
    a{
        font-family: "Cairo", sans-serif !important;
    }
    div{
        font-family: "Cairo", sans-serif !important;
    }
    button{
        font-family: "Cairo", sans-serif !important;
    }
    span{
        font-family: "Cairo", sans-serif !important;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: "Cairo", sans-serif !important;;
    }
    input,select{
        font-family: "Cairo", sans-serif !important;
    }
    .navbar .navbar-nav .nav-item .nav-link span{
        font-family: "Cairo", sans-serif !important;
    }
    .home-slider .video_slider .video_desc .text-content{
        .video_desc_title{
            font-family: "Cairo", sans-serif !important;
        }
        a{
            font-family: "Cairo", sans-serif !important;
        }
    }
    .home-slidersectionn .container.oe_unremovable .carousel-content, .home-slidersectionn .oe_unremovable.o_container_small .carousel-content{
        font-family: "Cairo", sans-serif !important;  
        p{
            font-family: "Cairo", sans-serif !important;
            a{
                font-family: "Cairo", sans-serif !important;
            }
        } 
    }
}
