.error_msg_create .error_msg_delivery{ 
  color: red;
  display: none;
  text-align: center;
}
.adv_pay_row{
  border-top: 1px solid #888;
}
.table_delivery input[type=text]:disabled {
  background: #f1eaea;
}

.popup_main{
  padding: 16px;
}
.table_delivery{
  width: 100%;
}
.table_delivery td{
  text-align: left;
  font-size: 14px;
  padding: 5px;
}
.table_delivery [type="text"]{
  height:27px;
  min-height: 0px !important;
}
/*Sale order note*/
.so_notes{
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
.delivery_ul{
  display:flex;  
  list-style:none;
  font-size: 16px;
}
.delivery_ul li{
  margin-left: 12px;
}

/* Radio Button css start */
.delivery_ul [type="radio"]:checked,
.delivery_ul [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.delivery_ul [type="radio"]:checked + label,
.delivery_ul [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.delivery_ul [type="radio"]:checked + label:before,
.delivery_ul [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.delivery_ul [type="radio"]:checked + label:after,
.delivery_ul [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #e09685;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.delivery_ul [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.delivery_ul [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*Radio button css end*/
