.pos .product-list .stock-info {
    padding: 0.5rem;
    font-weight: bold;
    display: flex;
    border-top: 1px solid #efefef;
    justify-content: space-between;
}
.pos .product-list .stock-info .available_stock_total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pos .product-list .stock-info .available_stock_total .qty-tag {
    color: black;
    padding: 1px 2px;
    font-size: 11px;
}
.pos .product-list .stock-info .available_stock_total .qty-tag.available {
    color: #32a868;
}
.pos .product-list .stock-info .available_stock_total .qty-tag.not-available {
    color: #ef5350;
}
.product\.disable {
  pointer-events: none;
  opacity: 0.4;
}
